body {
    margin: 0;
}


.header {
    width: 100%;
    height: 90px;
    border: 1px solid red;
    padding: 0 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-item {
   text-transform: capitalize; 
   text-decoration: none;
   color: #6c6c6c;
   font-size: 20px;
   margin-right: 30px;
}

.links-item:last-child  {
    margin-right: 0;
}
